slack-bolt>=1.19.1,<2
slack-sdk>=3.30.0,<4
openai>=1.68.2,<2
tiktoken>=0.9.0,<0.10
# https://github.com/Yelp/elastalert/issues/2306
urllib3<2
pillow>=10.4.0,<11
requests>=2.32,<3
python-dotenv>=1.0.1,<2